/*             This is my CSS file,             *\
|* there are many like it but this one is mine. *|
\*                      :)                      */

/* Here's the quick debugger. Uncomment it to use it. */
/** { outline: solid 0.25rem hsla(200, 50%, 50%, 0.25); }*/

/* IDs */
#mainview {
	background-color: #eee;
	margin: auto;
	width: 80%;
	min-width: 800px;
}

#titlebar {
	position: -webkit-sticky;
	position: sticky;
	background-color: #eee;
	top: 0px;
}

#logo {
	align-content: center;
}

#twitch-embed {
	align-content: center;
	height: 720;
}

/* Classes */
.wrapdiv {
	display: inline-block;
	vertical-align: bottom;
}

html {
	background-color: #666;
}

h1 {
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 32px;
	font-family: "Inconsolata";
	font-weight: 800;
}

p {
	font-family: "Inconsolata";
	font-weight: 500;
}

a:link {
	color: #7c4;
}
a:visited {
	color: #5a2;
}
a:active {
	color: #fa2;
}
