#mainview {
	background-color: #445;
	min-width: 750px;
}

#titlebar {
	background-color: #445;
}

body {
	background-color: #111;
	background-image: url("/assets/bg-comics.png");
}

h1 {
	color: #ddd;
}

p {
	color: #ddd;
}
